// Loading Page Styles
// Block: loading

.loading {
    min-height: 100vh;
    padding: var(--header-height) 1rem 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.loading__content {
    width: 100%;
    max-width: 1200px;
}

.loading__title {
    margin: 0 auto 4rem;
    display: block;
}

.loading__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}