// Auth Page Styles
// Block: auth

.auth {
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    @media (min-width: 768px) {
        padding: 1.5rem;
    }
}