.skeleton {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
}

.text {
    height: 1em;
    width: 100%;
}

.rect {
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 50%;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}